@import "tailwindcss";

@theme {
  
    /* Primary Colors */
    --color-beige-500: #98908B;      
    --color-beige-100: #F8F4F0;

    --color-grey-900: #201F24;      
    --color-grey-500: #696868;      
    --color-grey-300: #B3B3B3;      
    --color-grey-100: #F2F2F2;  
  
    /* Secondary Colors */
    --color-green: #277C78;      
    --color-yellow: #F2CDAC;      
    --color-cyan: #82C9D7;      
    --color-navy: #626070; 
    --color-red: #C94736;
    --color-purple: #826CB0; 

    /* Other Colors */
    --color-purple-100: #AF81BA;
    --color-turqoise: #597C7C;
    --color-brown: #93674F;
    --color-magenta: #934F6F;
    --color-blue: #3F82B2;
    --color-navygrey: #97A0AC;
    --color-armygreen: #7F9161;
    --color-gold: #CAB361;
    --color-orange: #BE6C49;

    --color-white: #FFF;
    --color-black: #000;

}